.w-100 {
    width: 50%;
}

.padding {
    padding: 20px;
}
.center {
    display: block;
    // margin-left: auto;
    // margin-right: auto;
    margin-top: -50px;
    margin-left: -50px;
  }

.bg {
    height: 100vh;
    background-image: url(./../assets/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.margin {
    margin-top: 200px;
}

.img-box {
    margin-top: 170px;
}
.text-box {
    margin-top: 170px;
    background-color: white;
}
.submit {
    margin-top: 50px;
}
.weight {
    font-weight: 800;
}
