<div class="container-fluid bg">

  <div class="row">
    <div class="col-sm-3 margin offset-sm-2"
      style="background-color:#fff;border: 1px solid #fff; border-radius: 4px; padding: 2px;box-shadow: 1px 1px 15px 3px rgb(83, 80, 80)">
      <div class="dropdown padding text-center">
        <h3 class="weight">FIND MY WAY</h3>
        <button type="button" class="btn btn-light  w-100" data-toggle="dropdown" style="background-color:#ddd">
          <strong> From: Help Desk/Reception</strong>
        </button>
        <!-- <div class="dropdown-menu dropdown-menu-right"> -->
          <!-- <li (click)="onFromSelect(item.value,item.label)" *ngFor="let item of address" class="dropdown-item">
            {{item.label}}</li> -->
          <!-- <li (click)="onFromSelect(item.value,item.label)" class="dropdown-item">
            Help Desk/Reception</li> -->
        <!-- </div> -->
      </div>
      <div class="dropdown padding">
        <button type="button" class="btn  dropdown-toggle w-100" data-toggle="dropdown" style="background-color:#ddd">
          <strong> To: {{this.toTitle}}</strong>
        </button>        
          <ul class="dropdown-menu" style="height:220px;overflow-y: scroll;width:87%;box-shadow: 1px 1px 15px 7px rgb(83, 80, 80)">
            <li (click)="onToSelect(item.value,item.label)" *ngFor="let item of address" class="dropdown-item">
              {{item.label}}</li>
          </ul>
        
      </div>
      <div class="padding submit">
        <button type="button" [disabled]="getImg()" (click)="onSubmit()" class="btn  btn-primary w-100">Submit</button>
      </div>

    </div>
    <div class="col-sm-2 ">

    </div>
    <div class="col-sm-5 img-box">
      <div>
        <p *ngIf="imgFlag == true" style="text-align: center;">Showing Route from {{fromTitle}} to {{toTitle}}</p>
        <img *ngIf="imgFlag == true" width="500" height="420"
          style="border: 3px solid rgb(250, 246, 246); border-radius: 4px; padding: 2px;box-shadow: 1px 1px 15px 7px #fff"
          class="center" alt="finder" [src]="imgURL">
      </div>
      <div *ngIf="imgFlag == false">
        <!-- <p style="text-align: center;"> No image for this path please select different source and destination</p> -->
      </div>
      <!-- <div class="card img-fluid" style="width:500px">
        <div class="card-img-overlay">
          <h4 class="card-title">John Doe</h4>
          <p class="card-text">Some example text some example text. Some example text some example text. Some example text some example text. Some example text some example text.</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div> -->
    </div>
  </div>
</div>


<router-outlet></router-outlet>